// md attr 樣式
html {
    font-size: 16px;
    letter-spacing: .8px;
    -webkit-text-stroke: 0.1px;
    scroll-behavior: smooth;
    @include setRWD(1200px) {
        font-size: 14px;
    }
    @include setRWD(600px) {
        font-size: 12px;
    }

    // 卷軸底
    &::-webkit-scrollbar {
        background: var(--vp-c-bg-soft);
        width: 6px;
        border-radius: calc(8px / 2);
    }

    // 卷軸體
    &::-webkit-scrollbar-thumb {
        background: var(--vp-c-brand-1);
        border: 0.5px solid var(--vp-c-brand-soft);
        border-radius: calc(6px / 2);
    }
}

// text color
.brand { color: var(--vp-c-brand-1) !important; }
.info { color: var(--vp-c-indigo-1) !important; }
.error { color: var(--vp-c-red-1) !important; }
.warning { color: var(--vp-c-yellow-1) !important; }
.success { color: var(--vp-c-green-2) !important; }
.vue { color: #4AA985 !important; }

.vp-doc {
    // group
    .in-out-demo-block {
        background-color: var(--vp-c-indigo-soft);
        padding: 1rem;
        border: 1px solid var(--vp-c-indigo-2);
        border-radius: 5px;
        > :first-child { margin-top: 0; }
    }

    // task-list
    .task-list {
        @include setFlex(flex-start, flex-start, 10px, column);
        margin: 10px 0;
        &--item {
            position: relative;
            @include setFlex(flex-start, center, 20px);
            cursor: pointer;

            &:hover {
                .task-list {
                    &--input::before { border-color: var(--vp-c-brand-3); }
                    &--text { color: var(--vp-c-brand-3); }
                }
            }
        }

        &--input {
            position: relative;
            box-sizing: border-box;
            margin-left: 10px;
            @include setSize(0, 0);
            cursor: pointer;

            &::before,
            &::after {
                content: '';
                position: absolute;
                background: transparent;
                box-sizing: border-box;
                @include setSize(0, 0);
            }

            &::before {
                @include setSize(20px, 20px);
                border: 2px solid var(--vp-c-text-2);
                border-radius: 3px;
                transform: translate3d(-50%, -50%, 0);
                transition: border-color 0.15s $cubic-FiSo, background-color 0.15s $cubic-FiSo 0.05s;
            }
            &::after {
                border-top: none;
                border-right: none;
                border-width: 0;
                border-radius: 1px;
                transform: rotateZ(-45deg) translate3d(0, -120%, 0);
            }

            &:checked {
                &::before {
                    background-color: var(--vp-c-brand-1);
                    border-color: var(--vp-c-brand-2);
                }
                &::after {
                    @include setSize(20px, 10px);
                    border: 3px solid #eee;
                    border-top: none;
                    border-right: none;
                    transition: border-color 0.15s $cubic-FiSo,
                                height 0.05s $cubic-FiSo,
                                width 0.1s $cubic-FiSo 0.04s;
                    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 100%));
                }
            }
        }

        &--text {
            transform: translate(0, 2px);
            transition: .2s $cubic-FiSo;
        }
    }
}
