@use 'mixin' as *;

:root {
    // #region [P] design system
    // 先設定好自己的 然後再覆蓋 vp

    // 主題色
    --color-primary-1: #f4b936;
    --color-primary-2: #d8a72b;
    --color-primary-3: #b99436;
    --color-primary-soft: rgb(185, 148, 54, 16%);

    // 點綴色
    --color-adorn: #bd34fe;

    // 灰階
    --color-gray-000: #FFF; /* 純白 */
    --color-gray-050: #F7F7F7;
    --color-gray-100: #ECECEC;
    --color-gray-200: #D8D8D8;
    --color-gray-300: #C4C4C4;
    --color-gray-400: #A8A8A8;
    --color-gray-500: #8C8C8C;
    --color-gray-600: #6A6A6A;
    --color-gray-700: #404040;
    --color-gray-800: #262626;
    --color-gray-850: #1F1F1F;
    --color-gray-900: #000; /* 純黑 */

    // 狀態色
    --color-green: #4CAA45;

    --color-red-dark: #c45a3f;
    --color-red: #DE6042;
    --color-red-light: #e17559;
    --color-red-subtle: #FFDFDF;

    --color-yellow: #FAAD14;
    --color-yellow-dark: #cf7f50;
    --color-yellow-subtle: #faf2e9;

    --color-blue: #1899d2;
    --color-blue-light: #f3fafd;
    --color-blue-dark: #0b88bf;

    --color-success: #03A61C;
    --color-warning: #FAAD14;
    --color-error: #F23005;
    --color-info: #1890FF;

    // 社群色
    --color-instagram: #FD1389;
    --color-facebook: #3b5998;
    --color-linkedin: #1366C0;
    --color-twitter: #1DA1F2;
    --color-line: #00BA01;
    --color-cake: #1DAB69;

    // tag color
    --color-mdtag-typescript: #3574d1;
    --color-mdtag-vue: #41B883;

    --font-sans-serif: 'Roboto', 'NotoSansTC', '微軟正黑體', 'Arial', sans-serif !important;
    --font-monospace: 'FiraCode', 'Roboto', sans-serif !important;

    // 字級
    --font-size-xs: .75rem;     // 12px
    --font-size-s: .875rem;     // 14px
    --font-size-m: 1rem;        // 16px
    --font-size-l: 1.25rem;     // 20px
    --font-size-xl: 1.625rem;   // 26px
    --font-size-xxl: 2.25rem;   // 36px

    // 動畫時間曲線
    --cubic-FiSo: cubic-bezier(.37, .99, .92, .96);     // 快進緩停
    --cubic-FiFo: cubic-bezier(.25, .65, .85, .45);     // 快進快出
    --cubic-SiRo: cubic-bezier(.31, 1.26, .19, 1.11);   // 快速回彈
    --cubic-SiMo: cubic-bezier(.3, 1, .94, 1.1);        // 緩進微彈

    // 版面配置
    --view-width: 1200px;
    --gap: 1.5rem;
    --card-padding: 1.25rem;
    --card-shadow: 1px 1px 10px 0 rgb(0, 0, 0, 10%);

    // #endregion

    // #region [P] home
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        var(--color-primary-1) 30%,
        var(--color-adorn) 80%
    );

    --vp-home-hero-image-background-image: linear-gradient(
        -45deg,
        var(--color-primary-1) 50%,
        var(--color-adorn) 50%
    );
    --vp-home-hero-image-filter: blur(44px);

    // #endregion

    // #region [P] --VP
    // 品牌色、tip色
    --vp-c-brand-1: #dc8419;
    --vp-c-brand-2: #cd8f42;
    --vp-c-brand-3: #c7975d;
    --vp-c-brand-soft: rgb(234, 182, 119, 14%);

    // 調整藍色
    --vp-c-indigo-1: #2866b6;
    --vp-c-indigo-2: #3079d7;
    --vp-c-indigo-3: #508fe0;
    --vp-c-indigo-soft: rgb(40, 103, 184, 14%);

    // 把tip 改為品牌色 (Component: Custom Block)
    --vp-custom-block-tip-border: transparent;
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
    --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);

        // 字型
    --vp-font-family-base: var(--font-sans-serif);
    --vp-font-family-mono: var(--font-monospace);


    // #endregion

    // #region [P] RWD
    @include setRWD(640px) {
        --vp-home-hero-image-filter: blur(56px);
    }
    @include setRWD(960px) {
        --vp-home-hero-image-filter: blur(68px);
    }

    // #endregion
}

.dark {
    // 灰階
    --color-gray-900: #FFF; /* 純白 */
    --color-gray-850: #F7F7F7;
    --color-gray-800: #ECECEC;
    --color-gray-700: #D8D8D8;
    --color-gray-600: #C4C4C4;
    --color-gray-500: #A8A8A8;
    --color-gray-400: #8C8C8C;
    --color-gray-300: #6A6A6A;
    --color-gray-200: #404040;
    --color-gray-100: #262626;
    --color-gray-050: #1F1F1F;
    --color-gray-000: #000; /* 純黑 */

    --color-tag-typescript: #509aff;
}


/**
* Component: Algolia
* -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
