.VPNav {
    .logo {
        @include setSize(40px, 40px);
        border-radius: 50%;
    }
}

.VPHome {
    .VPHomeHero {
        .text {
            margin: 20px 0 0;
            font-size: 2.5rem;
            line-height: 1.25em;
        }
    }
}


.footnote{
    &-backref,
    &-ref a {
        padding: 0 10px 0 2px !important;
    }
    &-item {
        font-weight: 500;
    }
}


// sidebar
.VPSidebarItem.level-0 > {
    .item > .text {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
    .items {
        padding-left: 5px;
    }
}


// markdown 引用外連結樣式
:is(.vp-external-link-icon,
.vp-doc a[href*='://'],
.vp-doc a[target='_blank']):not(.no-icon)::after {
    --icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="M440-280H280q-83 0-141.5-58.5T80-480q0-83 58.5-141.5T280-680h160v80H280q-50 0-85 35t-35 85q0 50 35 85t85 35h160v80ZM320-440v-80h320v80H320Zm200 160v-80h160q50 0 85-35t35-85q0-50-35-85t-85-35H520v-80h160q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280H520Z"/></svg>');
    @include setSize(24px, 24px);
    transform: translateY(6px);
}
.vp-doc strong {
    color: var(--vp-c-danger-2);
}

// markdown 圖片樣式
.medium-zoom-overlay {
    background-color: var(--vp-c-bg) !important;
    z-index: 100;
}

.medium-zoom-overlay ~ img {
    z-index: 101;
}

.medium-zoom--opened .medium-zoom-overlay {
    opacity: 0.9 !important;
}


/* 提示框背景颜色 */
:root {
    --vp-custom-block-tip-bg: var(--vp-c-indigo-soft);

    // --vp-custom-block-tip-bg: #42a5f5;
}

/* 提示框 */
.custom-block.tip {
    // border-color: var(--vp-c-green-2);
    border-color: var(--vp-c-indigo-2);
}

/* 警告框 */
.custom-block.warning {
    /* border-color: #d97706; */
    border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
    /* border-color: #f43f5e; */
    border-color: var(--vp-c-red-2);
}



// Nav 毛玻璃效果
// :root {
//     /* 首页导航 */
//     .VPNavBar {
//         background-color: rgba(255, 255, 255, 0%);
//         backdrop-filter: blur(10px);
//     }

//     /* 文档页导航两侧 */
//     .VPNavBar:not(.home) {
//         background-color: rgba(255, 255, 255, 0%);
//         backdrop-filter: blur(10px);
//     }
//     @media (width >= 960px) {
//         /* 文档页导航两侧 */
//         .VPNavBar:not(.home) {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }

//         /* 首页下滑后导航两侧 */
//         .VPNavBar:not(.has-sidebar, .home.top) {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }
//     }
//     @media (width >= 960px) {
//         /* 文档页导航中间 */
//         .VPNavBar:not(.home.top) .content-body {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }

//         /* 首页下滑后导航中间 */
//         .VPNavBar:not(.has-sidebar, .home.top) .content-body {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }
//     }


//     /* 分割线 */
//     @media (width >= 960px) {
//         /* 文档页分割线 */
//         .VPNavBar:not(.home.top) .divider-line {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }

//         /* 首页分割线 */
//         .VPNavBar:not(.has-sidebar, .home.top) .divider {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }
//     }

//     /* 搜索框 VPNavBarSearchButton.vue */
//     .DocSearch-Button {
//         background-color: rgba(255, 255, 255, 0%);
//         backdrop-filter: blur(10px);
//     }


//     /* 移动端大纲栏 */
//     .VPLocalNav {
//         background-color: rgba(255, 255, 255, 0%);
//         backdrop-filter: blur(10px);

//         /* 隐藏分割线 */

//         /* border-bottom: 5px solid var(--vp-c-gutter); */
//         border-bottom: 0;
//     }
// }