.VPNav {
    .logo {
        @include setSize(40px, 40px);
        border-radius: 50%;
    }
}


.VPMenuGroup {
    .title {
        color: var(--vp-c-text-1);
        font-size: 1rem;
    }
    .VPMenuLink {
        gap: 2px;
        padding-left: .7rem;
        .link {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: -5px;
                background-color: var(--vp-c-default-soft);
                @include setSize(1px, 100%);
                transition: .25s $cubic-FiSo;
            }
            &.active {
                &::before {
                    background-color: var(--vp-c-brand-1);
                    transform: scaleX(2);
                }
            }
        }
    }
}


.VPHome {
    .VPHomeHero {
        .text {
            margin: 20px 0 0;
            font-size: 2.5rem;
            line-height: 1.25em;
        }
    }
}



.footnote{
    &-backref,
    &-ref a {
        padding: 0 10px 0 2px !important;
    }
    &-item {
        font-weight: 500;
    }
}


// sidebar
.VPSidebarItem.level-0 > {
    .item > .text {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
    .items {
        padding-left: 5px;
    }
}

// layout:doc 樣式
.vp-doc {
    // markdown 引用外連結樣式
    :is(.vp-external-link-icon,
    a[href*='://'],
    a[target='_blank']):not(.no-icon)::after {
        --icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="M440-280H280q-83 0-141.5-58.5T80-480q0-83 58.5-141.5T280-680h160v80H280q-50 0-85 35t-35 85q0 50 35 85t85 35h160v80ZM320-440v-80h320v80H320Zm200 160v-80h160q50 0 85-35t35-85q0-50-35-85t-85-35H520v-80h160q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280H520Z"/></svg>');
        @include setSize(24px, 24px);
        transform: translateY(6px);
    }

    strong {
        color: var(--vp-c-danger-2);
    }
    .custom-block p:first-child {
        font-size: 1.125rem;
    }


    p {
        line-height: 1.6rem;
        word-spacing: .05rem;
    }
    ol li {
        padding-left: 0.5rem;

    }

    ul:first-child,
    ol:first-child {
        margin-top: 30px;
    }
    > ul:last-child,
    > ol:last-child {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    a {
        padding: 0 2px;
        color: #42b983;
        font-weight: 600;
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        margin-top: 1rem;
        margin-bottom: .5rem;
        font-weight: bold;
        line-height: 1.5;
        cursor: text;
    }

    h2 a,
    h3 a {
        color: #34495e;
    }
    h1 {
        padding-bottom: .4rem;
        font-size: 2.2rem;
        line-height: 1.3;
    }
    h2 {
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
        margin: 35px 0 15px;
        font-size: 1.75rem;
        line-height: 1.225;
    }
    h3 {
        margin: 20px 0 7px;
        font-size: 1.4rem;
        line-height: 1.43;
    }
    h4 {
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        color: #777;
        font-size: 1rem;
    }

    li {
        > ol,
        > ul {
            margin: 0 0 1.6rem;
        }
    }

    hr {
        background-color: #e7e7e7;
        height: 2px;
        padding: 0;
        border: 0 none;
        box-sizing: content-box;
        margin: 16px 0;
        overflow: hidden;
    }

    body > h2:first-child {
        padding-top: 0;
        margin-top: 0;
    }

    body > h1:first-child {
        padding-top: 0;
        margin-top: 0;
    }

    body > h1:first-child + h2 {
        padding-top: 0;
        margin-top: 0;
    }

    body > h3:first-child,
    body > h4:first-child,
    body > h5:first-child,
    body > h6:first-child {
        padding-top: 0;
        margin-top: 0;
    }

    a:first-child h1,
    a:first-child h2,
    a:first-child h3,
    a:first-child h4,
    a:first-child h5,
    a:first-child h6 {
        padding-top: 0;
        margin-top: 0;
    }

    h1 p,
    h2 p,
    h3 p,
    h4 p,
    h5 p,
    h6 p {
        margin-top: 0;
    }

    li p.first {
        display: inline-block;
    }

    ul,
    ol {
        padding-left: 30px;
    }



    blockquote {
        background-color: rgba(66, 185, 131, 10%);
        padding: 10px 15px;
        border-left: 4px solid #42b983;
        color: #777;
    }

    table {
        padding: 0;
        word-break: initial;
    }

    table tr {
        padding: 0;
        border-top: 1px solid #dfe2e5;
        margin: 0;
    }

    table tr:nth-child(2n),
    thead {
        background-color: #fafafa;
    }

    table tr th {
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
        border-bottom: 0;
        margin: 0;
        font-weight: bold;
        text-align: left;
    }

    table tr td {
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
        margin: 0;
        text-align: left;
    }

    table tr th:first-child,
    table tr td:first-child {
        margin-top: 0;
    }

    table tr th:last-child,
    table tr td:last-child {
        margin-bottom: 0;
    }
}

// markdown 圖片樣式
.medium-zoom-overlay {
    background-color: var(--vp-c-bg) !important;
    z-index: 100;
    ~ img {
        z-index: 101;
    }
}

.medium-zoom--opened .medium-zoom-overlay {
    opacity: 0.9 !important;
}


/* 提示框背景颜色 */
:root {
    // --vp-custom-block-tip-bg: var(--vp-c-indigo-soft);
    // --vp-custom-block-tip-bg: #42a5f5;
}

/* 提示框 */
.custom-block.tip {
    // border-color: var(--vp-c-green-2);
    // border-color: var(--vp-c-indigo-2);
}

/* 警告框 */
.custom-block.warning {
    /* border-color: #d97706; */
    // border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
    /* border-color: #f43f5e; */
    // border-color: var(--vp-c-red-2);
}



// Nav 毛玻璃效果
// :root {
//     /* 首页导航 */
//     .VPNavBar {
//         background-color: rgba(255, 255, 255, 0%);
//         backdrop-filter: blur(10px);
//     }

//     /* 文档页导航两侧 */
//     .VPNavBar:not(.home) {
//         background-color: rgba(255, 255, 255, 0%);
//         backdrop-filter: blur(10px);
//     }
//     @media (width >= 960px) {
//         /* 文档页导航两侧 */
//         .VPNavBar:not(.home) {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }

//         /* 首页下滑后导航两侧 */
//         .VPNavBar:not(.has-sidebar, .home.top) {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }
//     }
//     @media (width >= 960px) {
//         /* 文档页导航中间 */
//         .VPNavBar:not(.home.top) .content-body {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }

//         /* 首页下滑后导航中间 */
//         .VPNavBar:not(.has-sidebar, .home.top) .content-body {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }
//     }


//     /* 分割线 */
//     @media (width >= 960px) {
//         /* 文档页分割线 */
//         .VPNavBar:not(.home.top) .divider-line {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }

//         /* 首页分割线 */
//         .VPNavBar:not(.has-sidebar, .home.top) .divider {
//             background-color: rgba(255, 255, 255, 0%);
//             backdrop-filter: blur(10px);
//         }
//     }

//     /* 搜索框 VPNavBarSearchButton.vue */
//     .DocSearch-Button {
//         background-color: rgba(255, 255, 255, 0%);
//         backdrop-filter: blur(10px);
//     }


//     /* 移动端大纲栏 */
//     .VPLocalNav {
//         background-color: rgba(255, 255, 255, 0%);
//         backdrop-filter: blur(10px);

//         /* 隐藏分割线 */

//         /* border-bottom: 5px solid var(--vp-c-gutter); */
//         border-bottom: 0;
//     }
// }