// 預設文字樣式
%baseFont {
    fill: var(--color-primary);
    color: var(--color-text);
    font-family: Roboto, NotoSansTC, '微軟正黑體', Arial, sans-serif;
    font-weight: 400;
    -webkit-text-stroke: 0.1px;
    letter-spacing: 1px;
}

$shadow: 0 0 1px 0 rgba(0, 0, 0, 15%);
$shadow-in: 0 0 1px 0 rgba(0, 0, 0, 15%) inset;
$cubic-FiSo: cubic-bezier(.37, .99, .92, .96); // 快進場緩停
$cubic-FiFo: cubic-bezier(.25, .65, .85, .45); // 快進快出
$cubic-SiRo: cubic-bezier(.31, 1.26, .19, 1.11); // 快速回彈
$cubic-SiMo: cubic-bezier(.3, 1, .94, 1.1); // 緩進微彈

// 設定卷軸樣式
@mixin setScroll($size: 10px) {
    // 卷軸體
    &::-webkit-scrollbar {
        background: var(--color-btn-fill);
        width: $size;
        border-radius: calc($size / 2);
    }

    // 卷軸底
    &::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border: 0.5px solid rgba(153, 153, 153, 25%);
        border-radius: calc($size / 2);

        // box-shadow: 0 0 10px 2px #20476e;
    }

    // 卷軸按鈕
    // &::-webkit-scrollbar-button {
    //     background: transparent; // 設定transparent會隱藏按鈕
    //     border-radius: 4px;
    // }
    // &::-webkit-scrollbar-track-piece {
    //     background: transparent; // 設定transparent會隱藏卷軸底
    // }

    // 卷軸底底 (可以幫卷軸底加陰影
    // &::-webkit-scrollbar-track {
    //     box-shadow: transparent;
    // }
}

// RWD
@mixin setRWD($size) {
    @media(max-width: $size){
        @content;
    }
}

// Browser compatibility
@mixin setBC($k, $v){
    -webkit-#{$k}: $v;
       -moz-#{$k}: $v;
        -ms-#{$k}: $v;
         -o-#{$k}: $v;
            #{$k}: $v;
}

// 設定flex
@mixin setFlex($justify: center, $align: center, $gap: 0, $direction: '') {
    display: flex;
    @if $direction != '' {
        flex-direction: $direction;
    }
    align-items: $align;
    justify-content: $justify;
    @if $gap != 0 {
        gap: $gap;
    }
}
@mixin setBack($rep:no-repeat, $pos:50% 50%, $siz:cover) {
    background : {
        repeat: $rep;
        position: $pos;
        size: $siz;
    }
}
@mixin setSize($w:0, $h:0){
    width: $w;
    height: $h;
}
@mixin setProportion($proportion: 100%, $bs: contain){ // 等比例區塊
    background-size: $bs;
    &::before{
        content: '';
        display: block;
        padding-top: $proportion;
        @content;
    }
}

// 分配字距justify
@mixin setJustify(){
    text-align: justify;
    text-justify: inter-ideograph;
    &::after{
        content: "";
        display: inline-block;
        width: 100%;
    }
}

// 多行省略號
@mixin setJustify($rows: 2){
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $rows;
    overflow: hidden;
}

// 設定文字大小&行高一樣(這樣韓padding 才不會變很大)
@mixin setFontSize($size) {
    font-size: $size;
    line-height: $size;
}

//Delay Animate
@mixin setDelay($ty, $e, $tv, $btv: 0, $s: 1) {
    @for $i from $s through $e {
        &:nth-child(#{$i}){
            #{$ty}: #{$btv + $i * $tv}s;
            @content;
        }
    }
}
@mixin setStr($el, $ty, $baseStr, $e, $attcStr: '', $s: 1){
    @for $i from $s through $e {
        &:nth-child(#{$i})#{$el}{
            #{$ty}:#{$baseStr}#{$i}#{$attcStr};
            @content;
        }
    }

    //EX:{
        // @include setStr("::after", "background", "url('../image/contact/line'", 6, ".png')");
    // }
}

// 設定進場：未進場樣式, 進場樣式, 動畫曲線(預設)
@mixin setIntoView($basc, $show, $cubic: .85s $cubic-SiRo){
    @each $k, $v in $basc {
        #{$k}: $v;
    }
    transition: $cubic;
    &.animation{
        @each $k, $v in $show {
            #{$k}: $v;
        }
        @content;
    }

    //EX:{
        // .setIntoView{
        //     @include setIntoView(
        //         $basc:(
        //             transform: translate3d(-50px,0,0),
        //             opacity: 0,
        //         ),
        //         $show:(
        //             transform: translate3d(0,0,0),
        //             opacity: 1,
        //         ),
        //         $cubic: .65s $cubic-SiRo
        //     )
        // }
    //}
}

// 設定凹陷樣式
@mixin setSunken() {
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 35%) inset,
                -1px -1px 2px -1px rgba(255, 255, 255, 95%) inset;
}

// 特殊邊框
@mixin setBorder($notchSize: 25px, $notchColor: var(--color-view-block), $borderColor: var(--color-primary-light)) {
    position: relative;
    background-clip: padding-box;
    border: 2px solid $borderColor;
    border-radius: 20px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: -3px;
        z-index: 1;
    }

    &::before {
        left: 18px;
        background: $notchColor;
        @include setSize($notchSize, 3px);
    }
    &::after {
        left: 22px;
        background: $borderColor;
        @include setSize(3px, 3px);
        border-radius: 50%;
    }
}

// 大區域 範圍設定
%scope {
    width: 100%;
    padding-left: calc((100% - 1610px) / 2);
    padding-right: calc((100% - 1610px) / 2);
    margin: 0 auto;
    @include setRWD (1680px) {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    @include setRWD (1024px) {
        padding-left: 1.428rem;
        padding-right: 1.428rem;
    }
    @include setRWD (600px) {
        padding-left: .83rem;
        padding-right: .83rem;
    }
}